/***********************
* Colors:
* green = #adb500
* 
***********************/

@font-face {
  font-family: 'brandico';
  src: url('../fonts/brandico.eot');
  src: url('../fonts/brandico.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/brandico.woff') format('woff'), 
  url('../fonts/brandico.ttf') format('truetype'), 
  url('../fonts/brandico.svg#glyphicons-halflingsregular') format('svg');
}

p{
	font-weight:100;
	letter-spacing:.05em
}
header {
    width: 80%;
    overflow: hidden;
}

.brandico {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'brandico';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size:20px;
  cursor:pointer;
  color: #fff;
  padding-right:.3em;
}

.brandico-github:before {
  content: "\f308";
}

.brandico-wordpress:before {
  content: "\f31d";
}

.brandico-linkedin:before {
  content: "\f31b";
}

.brandico-twitter:before {
  content: "\f303";
}

html, body{
	font-weight: 300;
	font-size:16px
}

h1{
	color:#adb500;
	font-weight:900;
	font-size:2em;
}

h2{
	font-size:1.4em;
}

.fontLight{
	font-weight:300;
}

.row .row {
	margin-left: 0em;
	margin-right: 0em;
}

.nameHeaderRow{
	width: 14em;
}

footer{
	/* width: 62.5rem; */
	margin-left:auto;
	margin-right:auto;
	color: #FFF;
	background-color:#adb500;
	text-align:center;
	padding-top:.8em;
	font-size: 1em;
}

footer p{
	line-height:.9rem;
	font-size:.8rem;
}

.simplicityRow{
	/* position:relative; */
	top: -3.5em;
	/* height: 100px; */
	/* height: 3em; */
}

.portfolioSectionClass h1, .resumeSectionClass h1{
	color:#adb500
}

.portfolioSectionClass, .resumeSectionClass{
	display:none;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color:#adb500;
}

.top-bar .toggle-topbar.menu-icon {
	right: 8px;
}

.top-bar-section{
	z-index:4000;
}

.top-bar-section ul{
	background:transparent;
}

.introBlast p{
    font-size: 1em;
	
}

.introBlast{
    margin-top: 1em;
}



/**********************
* Sticky Footer
**********************/

* {
	/* margin-left: 0; */
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 99%;
	height: auto !important;
	height: 99%;
	margin: 0 auto -4em;
	/* width: 10em; */
	/* overflow: hidden; */
}

.footer, .push {
	height: 5em;
}



/**********************
* about section
**********************/


.headerArea{
	/* height:200px; */
	width: 100%;
	background-image: url(../graphics/phoneHeader.png);
	background-repeat: no-repeat;
	/* background-size: 100%; */
	height: 5em;
	display: inline-block;
	margin-bottom: 2em;
}

.aboutSectionClassLogo{
	background-image: url(../graphics/headerlogo.png);
	background-repeat: no-repeat;
	background-size: 50%;
	height: 10em;
	width:7em;
	padding-top: 34px;
	position: relative;
	top: .3em;
	left: -.1em;
	/* display: none; */
}

.socialMediaIconContainer{
	/* position:absolute; */
	top: .5rem;
	left: .6rem;
	width: 8rem;
	padding: 0 !important;
	/* border: red 1px solid; */
}

.fontLight{
}

.fontLight:after{
	content:"\a";
    white-space: pre;
}

.titleRow{
	position:relative;
	top: -8em;
	left: 6em;
	/* width: 8rem; */
}

h1.nameHeader {
    color: white;
    line-height: 2rem;
    margin-top: -1em;
    margin-left: -1.7em;
}

body{
	background:transparent;
}

.top-bar {
	background: transparent;
	margin-top: -168px;
}

.top-bar-section ul li>a{
	background-color:white;
	color:black;
	border-top:#666 solid 1px;
	border-left: #666 solid 1px;
	border-right: #666 solid 1px;
	border-bottom: #666 solid 1px;
}

.top-bar.expanded .title-area {
	background-color: transparent;
}

.top-bar.expanded {
	top:-.41em;
	margin-bottom:-1em
}

.top-bar-section ul li.active>a {
	background: #adb500;
	color: #fff;
	border-top:#666 solid 1px;
}

/*.top-bar-section ul {
background: white;
}*/

nav.expanded>ul>li.menu-icon>a::after{
	margin-top:2px;
}

nav>ul>li.menu-icon>a::after{
	margin-top:-5px;
}

.top-bar-section ul li>a {
	color: #000;
	font-size: 1.2rem;
	font-weight: 300;
	background: #eee;
}


/* Small screens */
@media only screen { 

} /* Define mobile styles */

@media only screen and (max-width: 40em) { 

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - Tablets */
@media only screen and (min-width: 40.063em) { 
h1{
		color:white;
	}
	
	h2{
		font-size:2em;
	}
	
	footer{
		width: 100%;
	}
	
	footer p{
		line-height:1rem;
		font-size:1rem;
	}
	
	.headerArea{
		height:200px;
		background-image: url(../graphics/indexheader.png);
	}
	
	section.top-bar-section ul.left{
		display:none;
	}
	
	.socialMediaIconContainer {	
		position:absolute;
		margin-left:1em;
		top:10.5em;
		width: 8rem;
	}
	
	.aboutSectionClassLogo {
		background-size: 80%;
		height: 10em;
		left: .3em;
	}
	
	h1.nameHeader {
		font-size: 4em;
		color: white;
		line-height: 3.6rem;
		margin-top: -.4em;
		margin-left: -.1em;
		width:15em;
	}

	.top-bar-section  {
		position:relative;
		top:5.5em;
		padding-right:1em;
		font-size: 16px;
		margin: 0;
	}
	
	.top-bar-section ul{
		background: none;
	}
	
	.top-bar-section ul li>a {
		border-top: #666 solid 1px;
		border-left: #666 solid 1px;
		border-right: #666 solid 1px;
		border-bottom: #666 solid 1px;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		line-height: 45px;
		background: #adb500;
		border-top:white 1px solid;
		border-bottom:white 1px solid;
		border-right:white 1px solid;
	}
	\
	.headerArea{
		margin-bottom:2em;
	}
	
	ul.right a:nth-child(1){
		border-left:white 1px solid;
	}
	
	.aboutSectionClass p{
		font-size:1.5em
	}
	
	.aboutSectionClass h2{
		font-size:2em
	}

} 

/* Large screens */
@media only screen and (min-width: 64.063em) { 

	h1{
		color:white;
	}
	
	h2{
		font-size:1.4em;
	}
	
	footer{
		width: 62.5rem;
	}
	
	footer p{
		line-height:1rem;
		font-size:1rem;
	}
	
	.headerArea{
		height:200px;
		background-image: url(../graphics/indexheader.png);
	}
	
	section.top-bar-section ul.left{
		display:none;
	}
	
	.socialMediaIconContainer {	
		position:relative;
		top: 10.5em;
		left:-52em;
		width: 8rem;
	}
	
	.aboutSectionClassLogo {
		background-size: 80%;
		height: 10em;
		left: .3em;
	}
	
	h1.nameHeader {
		font-size: 4em;
		color: white;
		line-height: 3.6rem;
		margin-top: -.4em;
		margin-left: -.1em;
		width:15em;
	}

	.top-bar-section  {
		position:relative;
		padding-right:1em;
		font-size: 16px;
		margin: 0;
	}
	
	.top-bar-section ul{
		background: none;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		line-height: 45px;
		background: #adb500;
		border-top:white 1px solid;
		border-bottom:white 1px solid;
		border-right:white 1px solid;
	}
	
	.headerArea{
		
	}
	
	
	ul.right a:nth-child(1){
		border-left:white 1px solid;
	}


} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
